---
import { siteConfig } from "../config/site";
---

<section class="about-section">
  <div class="about-content">
    <h2 class="about-title">{siteConfig.about.title}</h2>
    
    <p class="about-text">
      {siteConfig.about.text}
    </p>

    <!-- VIDEO -->
    <div class="video-container">
      <iframe 
        src="https://www.youtube.com/embed/raVBvb4FS3k"
        title="Video presentación"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>

  </div>
</section>

<style>
.video-container {
  margin-top: 10rem;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
</style>
